
<div class="card">
    <div class="card-body">
        <h1>{{Postagem.titulo}}</h1>
        <hr>
        <small>Data publicção{{Postagem.data}}</small>
        <hr>
        {{Postagem.conteudo}}
    </div>
</div>